body {
    padding-top: 40px;
}

th {
    text-align: center !important;
}

.sub-header {
    font-size: xx-small;
    line-height: 6px;
}

ul#chat {
    list-style-type: none;
    margin-left: 0;
}

h1 {
    text-align: center;
}
